GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_DRIVE_FOLDER_ID=1BZtNra9l4qXHG1v7DVy4nN9ByaBqRi_C
SESSION_SECRET=

# Supabase Configuration
VITE_SUPABASE_URL=https://zzisgemhuonwmrlxuhws.supabase.co
VITE_SUPABASE_ANON_KEY=
